html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background:#fab1a0;
    padding: 0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    font-weight: 400;
  }

  header {
    background-color: #ff7675;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    font-family: Apple Chancery;
  }
  header::after{
    content:'';
    display: table;
    clear:both;
  }

  .heading{
    float:left;
    color:#444;
  }

  nav{
    float:right;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
  }

  nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  nav a:hover{
    color: #000;
  }

  nav a::before{
    content:'';
    display: block;
    height:5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top:0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }

  nav a:hover::before{
    width:100%;
  }

  .createArea {
      position: relative;
      background-color:#dfe6e9;
      width: 500px;
      margin: 30px auto 20px auto;
      box-shadow: 0 1px 5px rgb(138, 137, 137);
      border-radius: 7px;
      padding: 15px;
  }

  .createArea input, .createArea textarea{
      width: 100%;
      border: none;
      padding: 5px;
      outline: none;
      font-size: 1.3em;
      font-family: inherit;
      background-color:#dfe6e9;
      resize: none;
  }

  .createArea button{
      /* position: absolute; */
      background: #ff7675;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 10%;
      width: 50px;
      height: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
  }
  
.blogArea{
    position: relative;
      background-color:#dfe6e9;
      width: 500px;
      margin: 30px auto 20px auto;
      box-shadow: 0 1px 5px rgb(138, 137, 137);
      border-radius: 7px;
      padding: 15px;
}

.blogArea h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}

.blogArea p{
    font-size: 1.1em;
    margin-bottom: 10px;
}

.blogArea button{
    background: #ff7675;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 10%;
      width: 50px;
      height: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
}